@import url("/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary outline-theme-main inline-block rounded-full px-6 py-2 font-semibold shadow-sm;
  }
  .text-primary {
    @apply bg-gradient-to-r from-[color:var(--theme-main)] to-[color:var(--theme-accent)] bg-clip-text text-transparent !important;
  }
  .bg-primary {
    @apply bg-gradient-to-r from-[color:var(--theme-main)] to-[color:var(--theme-accent)] text-white;
  }
  .outline-theme-main {
    @apply hover:opacity-80 hover:outline-[color:var(--theme-main)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[color:var(--theme-main)];
  }
  .outline-theme-accent {
    @apply hover:opacity-80 hover:outline-[color:var(--theme-accent)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[color:var(--theme-accent)];
  }
  .within-outline-theme-main {
    @apply focus-within:outline focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-[color:var(--theme-main)] hover:opacity-80 hover:outline-[color:var(--theme-main)];
  }
}

:root {
  --theme-main: #ff6b6b;
  --theme-accent: #ffd166;
  /* Keep the below variable names in sync with CSS_VARIABLES in globals-css.ts */
  --top-nav-bar-height: 3.5rem;
  --resume-control-bar-height: 3rem;
  --resume-padding: 1.5rem;
}
